html{
    scroll-behavior: smooth;
}

body,
html {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    scroll-behavior: smooth;
}

body a,
.btn,
button {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

p {
    margin: 0;
    color: #000;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.9em;
    letter-spacing: 1px;
}
.nav-item .nav-link{
   color:#eb8100 !important; 
}

.navbar-brand{
    margin:auto;
}

.btn-outline-theme2:hover {
    color: #d91284;
    border-color: #d91284;
    background-color: transparent;
}

.btn-outline-theme2 {
    color: #fff;
    background-color: #d91284;
}

.nav-button{
    display:flex !important;
    justify-content: flex-end;
    flex-grow: 1;
    flex-flow: row nowrap;
    margin-right: 5vw;
}

.nav-contact{
    opacity:0.5;
}

.headerdown {
    background-color:#d91284;
}

@media (min-width: 768px){
    .headerdown{
        height: 70px;
    }
    
}

.at_l {
    float: left;
    width: 10%;
}

.at_r {
    float: right;
    width: 90%;
    padding-left:2vw;
}

.at_hl {
    margin-top: 15px;
}

.at_r h3 {
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 1px;
}

.at_r h5 {
    font-size: 13px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1px;
}

.at_l i {
    font-size: 30px;
	    color: #fff;
}

.at_cl {
    float: left;
    width: 10%;
}
.at_cr {
    float: left;
    width: 90%;
    padding-left:2vw;
}
.at_rl {
    float: left;
    width: 10%;
}
.at_rr {
    float: left;
    width: 90%;
    padding-left:2vw;
}

.at_hl {
    margin-top: 15px;
}
.at_hc {
    margin-top: 15px;
}
.at_hr {
    margin-top: 15px;
}
.at_l i {
    font-size: 30px;
	    color: #fff;
}
.at_cl i {
    font-size: 30px;
	    color: #fff;
}
.at_rl i {
    font-size: 30px;
	    color: #fff;
}
.at_r h3 {
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 1px;
}
.at_cr h3 {
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 1px;
}
.at_rr h3 {
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 1px;
}
.at_r h5 {
    font-size: 10px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1px;
}
.at_cr h5 {
    font-size: 10px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1px;
}
.at_rr h5 {
    font-size: 10px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1px;
}

i.fa.fa-search {
    margin-right: 45px;
}

.row{
    margin: auto;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse{
        display:flex;
        justify-content:flex-end;
    }
    
}

.full-height{
    max-height: 90vh;
}

.carousel-caption{
    bottom:10%;
    background-color: #212529;
    opacity: 0.8;
    padding: 5px;
    left:20%;
    right:20%;
}

.carousel-caption h5{
    font-size: 1rem;
    color:#fff;  
}

.carousel-caption p{
    font-size:0.5rem;
    color:#eb8100;  
}

.banner-1{
    background: url(../images/consult.JPG) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

@media (min-width: 992px){
    
.carousel-caption{
    bottom:10%;
    background-color: #212529;
    opacity: 0.8;
    padding: 10px;
    left:15%;
    right:15%;
}

    .carousel-caption h5{
    font-size: 3rem;
    color:#fff;  
}

.carousel-caption p{
    font-size:1rem;
    color:#eb8100;  
}
    
.at_r h3 {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 600;
    
}
.at_cr h3 {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 600;
    
}
.at_rr h3 {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 600;
  }
    
.at_r h5 {
    font-size: 13px;
    font-weight: 600;
    
}
.at_cr h5 {
    font-size: 13px;
    font-weight: 600;
    
}
.at_rr h5 {
    font-size: 13px;
    font-weight: 600;
}



}

/*-- about --*/

.about{
   background-attachment: fixed;
    background: url(../images/buddha.jpg) no-repeat center 0px fixed ;
    background-size: cover;
}

h3.heading {
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 600;
    color:gold;
}
p.about-text {
    width: 80%;
    color:beige;
}

.mt-4 {
    color:gold;
}

.mt-3 {
    color:beige;
}

.about .container{
    background: rgba(0,0,0,0.1);
}
.feature-grids .f-icon {
    vertical-align: middle;
    background: #eb8100;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin: 0.5em auto 0;
    border-radius: 50%;
}
.feature-grids span.fa {
    color: #fff;
    font-size: 20px;
    line-height: 70px;
}
.feature-grids h3 {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 30px;
    text-transform: uppercase;
}
.feature-grids  p {
    letter-spacing: 1px;
}
/*-- //about --*/

/*-- services --*/
.mb-60 {
    margin-bottom: 60px;
}
.services-inner {
    border: 2px solid #445c6e;
    transition: .3s;
    border-radius: 4px;
	border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
}
.our-services-icon {
    margin-top: -28px;
}
.our-services-icon span.fa {
    margin-left: 141px;
    color: #d41288;
    font-size: 30px;
    background: #fff;
    border: 2px solid #445c6e;
    border-radius: 4px;
	border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    width: 55px;
    height: 55px;
    line-height: 50px;
    text-align: center;
}
.our-services-text {
    overflow: hidden;
    padding: 25px;
    text-align: center;
    background: rgba(255,255,255,0.5);
}
.our-services-text h4 {
    color: #22252a;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 8px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
.our-services-text h4::before {
    background: #22252a none repeat scroll 0 0;
    bottom: 0px;
    content: "";
    height: 1px;
    position: absolute;
    width: 90px;
    margin-left: 58px;
}
.our-services-wrapper:hover .services-inner {
    background: #fff none repeat scroll 0 0;
    border: 2px solid transparent;
    box-shadow: 0px 1px 10px 0px #445c6e;
}
.our-services-text p {
    margin-bottom: 0;
    color:#445c6e
}
 .services p {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #22252a;
}
.services  {
    position: relative;
}

.services h3{
    color:#d91284;
}

.s1{
    background-image: url(../images/1.jpg);
    background-size :cover;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;

    
}

.s2{
    background-image: url("../images/2.jpg");
    background-size :cover;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;

    
}

.s3{
    background-image: url("../images/3.jpg");
    background-size :cover;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;

}

.s4{
    background-image: url("../images/4.jpg");
    background-size :cover;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;

}

.s5{
   background-image: url("../images/5.jpg");
    background-size :cover; 
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;

}


.s6{
    background-image: url("../images/6.jpg");
    background-size :cover;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;

}

.s7{
    background-image: url("../images/7.jpg");
    background-size :cover;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;

}

.s8{
    background-image: url("../images/8.jpg");
    background-size :cover;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;

}

.s9{
    background-image: url("../images/9.jpg");
    background-size :cover;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;

}
/*-- //services-- */

/*--// banner --*/

.tittle-atlayouts,
.tittle-atlayouts.two {
    color: #fff;
    font-size: 2.7em;
    text-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
}

.tittle-atlayouts.two {
    color: #262066;
}

.entry-atpvt-main {
    background-color: #ecf0f1;
}

.entry-atlayouts-info h4 {
    color: #e78300;
    font-size: 1.8em;
    text-align: left;
    letter-spacing: 1px;
    margin-bottom: .7em;
    text-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
}

.content-left-bottom h5 {
    color: #d0118c;
    text-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
    font-size: 1em;
}

.content-atpvt-img {
    padding: 0 5em;
}

.content-atpvt-img img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o- border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}

.banner-bottom .left-image{
    display:block;
}

.banner-bottom .right-image{
    display:none;
}

.banner-bottom{
    background-color: #f5d9eb;
}

@media(min-width:768px){
    
    .banner-bottom .left-image{
    display:none;
}
    .banner-bottom .right-image{
    display:block;
}
    
}

.gallery {
padding: 5vw;
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}

/* popup */
.popup-effect {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0ms;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
}

.popup-effect:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    text-align: center;
}

#popup{
    display:none;
}

@media(min-width:768px){
    
    #popup{
    display:block;
}

    
}


.popup .close {
    position: absolute;
    top: 5px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.popup .close:hover {
    color: #45d5c0;
}


#gallery .title {
    font-size: 42px;
    color: #3d3e3e;
    position: relative;
    padding-top: 5vh;
}

/* contact */
.atpvt-webinfo_mail_grid_right {
    background: #f7f7f7;
    padding: 2em;
    -webkit-box-shadow: 7px 7px 10px 0 rgba(56, 56, 56, 0.21);
    -moz-box-shadow: 7px 7px 10px 0 rgba(56, 56, 56, 0.21);
    box-shadow: 7px 7px 10px 0 rgba(56, 56, 56, 0.21);
}

.atpvt-webinfo_mail_grid_right input[type="text"],
.atpvt-webinfo_mail_grid_right input[type="email"],
.atpvt-webinfo_mail_grid_right textarea {
    outline: none;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    width: 100%;
    border: 1px solid #E6E6E6;
}

.atpvt-webinfo_mail_grid_right textarea {
    min-height: 180px;
    width: 100% !important;
    resize: none;
}

.atpvt-webinfo_mail_grid_right button {
    outline: none;
    padding: 11px 0;
    font-size: 16px;
    color: #fff;
    background: #fc6183;
    width: 100%;
    border: none;
    letter-spacing: 2px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
}

.contact-left-atls span {
    font-size: 2em;
    color: #eb8100;
}

.contact-left-atls h4 {
    color: #eb8100;
    font-size: 1.3em;
    margin-bottom: .5em;
    font-weight: bold;
}

.contact-left-atls p a {
    color: #000;
}

.contact-left-atls h3 {
    font-size: 30px;
    color: #6174fc;
    margin-bottom: 1.5em;
    font-weight: 600;
}

.contact-bg{
        background-image: url(../images/contact.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.c-title{
    color:#d91284;
}

.contact .p{
    color:black;
}

.trans-back{
    background: rgba(255,255,255,0.5);   
}


